  .bottom-card {
    margin: 0; /* Reset margins */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  ion-grid {
    --ion-grid-padding: 20px;
  
    --ion-grid-padding-xs: 20px;
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 20px;
    --ion-grid-padding-lg: 20px;
    --ion-grid-padding-xl: 20px;
  
    --ion-grid-column-padding: 30px;
  
    --ion-grid-column-padding-xs: 30px;
    --ion-grid-column-padding-sm: 30px;
    --ion-grid-column-padding-md: 30px;
    --ion-grid-column-padding-lg: 30px;
    --ion-grid-column-padding-xl: 30px;
  }

  ion-col {
    background-color: transparent;
    color: #fff;
    text-align: center;
  }
  ion-card-subtitle {
    color: #fff;
  }


  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; /* Place the image behind other content */
  }

  

  
  