<ion-card color="light" (click)="redirectToGroceriesPage()">
    <ion-card-header>
      <ion-card-title>Card Title<ion-icon class="ion-padding-horizontal" size="large" name="checkbox-outline"></ion-icon></ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content><ion-img src="../../../../assets/noodles.jpg"></ion-img></ion-card-content>
  </ion-card>
  
  <ion-card color="light" (click)="redirectToDoPage()">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
  
  <ion-card color="light" (click)="redirectToRecipesPage()">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
