  <ion-card>
    <ion-item color="dark" lines="none" (click)="redirectToGroceriesPage()">
      <ion-label>
        <strong>Create a New Grocery List</strong>
      </ion-label>
      <ion-icon size="small" name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item color="dark" lines="none" (click)="redirectToDoPage()">
      <ion-label>
        <strong>Create a New To Do List</strong>
      </ion-label>
      <ion-icon size="small" name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item color="dark" lines="none" (click)="redirectToRecipesPage()">
      <ion-label>
        <strong>Search for Recipes</strong>
      </ion-label>
      <ion-icon size="small" name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-card>

  <div>
    <ion-footer>
      <ion-button expand="block" color="success" (click)="login()">Login</ion-button>
    </ion-footer>
  </div>
  


