<ion-menu contentId="main-content">
  <ion-header color="light">
    <ion-toolbar color="light">
      <ion-title><ion-icon name="receipt" size="large"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button color="light" expand="full" fill="solid">My To Do Lists<ion-icon class="ion-padding-horizontal" name="checkbox-outline"></ion-icon></ion-button>
    <ion-button color="light" expand="full" fill="solid">My Grocery Lists<ion-icon class="ion-padding-horizontal" name="list-outline"></ion-icon></ion-button>
    <ion-button color="light" expand="full" fill="solid">My Recipes<ion-icon class="ion-padding-horizontal" name="fast-food-outline"></ion-icon></ion-button>
  </ion-content>
  <ion-footer>
    <ion-button class="ion-padding" color="success" expand="full" fill="solid"><ion-icon class="ion-padding-horizontal" name="home-outline"></ion-icon></ion-button>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header color="light">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-justify-content-center"><ion-icon name="receipt" size="large"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>
</div>




<!-- <ion-list lines="none">
  <ion-list-header>
    <h2 style="font-weight: 900; font-size: 14px;">STUDENT</h2>
  </ion-list-header>
  <ion-menu-toggle autoHide="false">
    <ion-item button detail routerLink="student/schedule" [class.active-item]="path.startsWith('/student/schedule')">
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-label>
          My Schedule
      </ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle autoHide="false">
    <ion-item button detail routerLink="student/academics" [class.active-item]="path.startsWith('/student/academics')">
      <ion-icon slot="start" name="school"></ion-icon>
      <ion-label>
        My Academics
      </ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle autoHide="false">
    <ion-item button detail routerLink="student/account" [class.active-item]="path.startsWith('/student/account')">
      <ion-icon slot="start" name="card"></ion-icon>
      <ion-badge *ngIf="numNotifications > 0" color="secondary" slot="end">{{numNotifications}} NEW</ion-badge>
      <ion-label>
        My Account
      </ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle autoHide="false">
    <ion-item button detail routerLink="/course-search" [class.active-item]="path.startsWith('/course-search')">
      <ion-icon slot="start" name="list"></ion-icon>
      <ion-label>
        Course Search
      </ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list> -->