<ion-header>
  <ion-toolbar>
    <ion-title>Create New Grocery List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="newListCreated" class="ion-padding" (click)="addItemToList()">Add Item</ion-button>
  <ion-button class="ion-padding" (click)="createList()">Create New List</ion-button>

  <ion-item>
    <ion-input [(ngModel)]="newItem" placeholder="Enter item"></ion-input>
  </ion-item>
  
  <ion-list >
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>

